@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  background: #16000a;
}

body {
  -webkit-font-smoothing: antialiased;
  color: #ffdada;
}

.h1text {
  .hitext {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  text-align: center;
  font-size: 52px;
  font-weight: bold;
  color: white;

  text-shadow:
    0 0 10px #ff69b4,
    0 0 20px #ff1493,
    0 0 30px #ff1493;

  z-index: 10;
}
  
  

}

.webgl {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  outline: none;
}

body::before {
  content: "";
  position: absolute;
  border: 8px solid;
  inset: 1rem;
  z-index: 100;
  pointer-events: none;
}

h1 {
  position: absolute;
  top: 10vh;
  left: 2.5rem;
  right: 1rem;
  text-align: center;
  font-family: ador-hairline, sans-serif;
  font-weight: 900;
  font-size: max(1rem, 3vh);
}

button {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 12vh;
  width: 12vh;
  transform: translateY(2vh);
  right: 0;
  margin: auto;
  -webkit-appearance: none;
  background: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
}

svg {
  width: 3.5vh;
}

.birthday-photo {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 150px;
  height: 150px;

  object-fit: cover;
  border-radius: 50%;

  border: 4px solid #ffb6c1;

  box-shadow:
    0 0 15px #ff69b4,
    0 0 30px #ff1493,
    0 0 45px #ff69b4;

  z-index: 5;
}
.birthday-photo {
  pointer-events: none;
}

#play-music {
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  cursor: pointer;
}
